body {
    font-family: "Sofia", sans-serif;
    margin: 0;
  }

header{font-family: "Trirong", serif;}
a {
    text-decoration: none;
}

h1 {
    color: green;
}

h1,
h2,
p {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.nav-item {
    color: cornflowerblue;
    font-size: 24px;
    line-height: 20px;
}

.nav-item:hover {
    color: purple;
    text-decoration: underline;
}

.nav-item :active {
    font-size: 35px;
}

.image {
    width: 400px;
    height: 350px;
    border-radius: 50px;
}

.icon {
    width: 50px;
    height: 50px;
}

.box {
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 24px;
    align-items: center;
}

.sectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    width: 400px;
    height: 250px;
    background-color: rgb(56, 241, 241);
    /*margin-top: 30px;*/
    margin: 0 auto 20px auto;
    border: 3px solid yellow;
    padding: 15px;
}

.wrapperText {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: white;
}

.sectionDesc {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.styleLabel {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.buttonStyle {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
input[type=text]{
    width: 200px;
    height: 30px;
    outline: none;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    line-height: 30px;

}